.iframe-wrapper {
  min-height: 360px;
}

.iframe-container {
  width: 80vw;
  max-width: 1200px;
  aspect-ratio: 4 / 3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
}

.iframe-content {
  width: 100%;
  height: 100%;
}
